version: 0.9.0.{build}

install:
  - ps: Install-Module psake -Scope CurrentUser -Force

skip_commits:
  files:
    - README.md

image: Visual Studio 2017

# FIXME: Enabled assembly info patching

build_script:
  - ps: Invoke-Psake build.ps1
  - ps: Get-ChildItem -Recurse

test: off

artifacts:
  - path: CBreeze\UncommonSense.CBreeze.Common\obj\Debug\UncommonSense.CBreeze.Common.NAV2017.dll

deploy: off